@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.css-13vpke-MuiSlider-root {
  padding: 0 !important;
  height: 8px !important;
}

.css-r64h58-MuiSlider-rail {
  background-color: #A5E0DD !important;
}

.css-16kozi8-MuiSlider-mark {
  width: 0 !important;
  height: 0 !important;
}

.css-lq5hqx-MuiSlider-mark {
  width: 0 !important;
  height: 0 !important;
}

.css-1xcmt9q-MuiSlider-thumb {
  width: 24px !important;
  height: 24px !important;
  background-color: #A5E0DD !important;
  border: 3px solid rgba(16, 89, 85, 0.63);
}

.css-xvk2i-MuiSlider-track {
  background-color: #105955 !important;
  border: none !important;
}

.css-1asissc-MuiSlider-valueLabel,
.css-1xcmt9q-MuiSlider-thumb::after {
  display: none !important;
}

.css-1xcmt9q-MuiSlider-thumb:hover,
.css-1xcmt9q-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none !important;
}